<div class="container mt-4 ">
  <div class="card ">
    <div class="card-header rounded fw-bold">
      Role Management
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-1 ">
          <label for="" class=" px-5 fw-bold"> User</label>
        </div>
        <div class="col-3 mb-3">
          <div ngbDropdown class="d-inline-block ">
            <button type="button" class="btn btn-outline-primary custom-dropdown" id="dropdownBasic2" ngbDropdownToggle>
              Roles
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>

            </div>

          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2 custm-with">
          <label for="" class=" px-5 fw-bold ms-1"> Select the role</label>
        </div>
        <div class="col-2 me-5">
          <div ngbDropdown class="d-inline-block ">
            <button type="button" class="btn btn-outline-primary customs-dropdown-menu " id="dropdownBasic1"
              ngbDropdownToggle>
              Select the roles
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1 " class="custom-dropdown-menu ">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>

            </div>
          </div>
        </div>
        <div class="col-5">
          <a href="#" class="btn btn-primary ms-4">Sivasubramanian N</a>
        </div>
      </div>
    </div>
  </div>
