<div class="container">
  <div class="form-box">
    <div class="form-box-header d-flex justify-content-between">
      <div class="form-box-title">Read FAQ</div>
      <div class="form-box-action">
        <div class="d-flex">
          <button class="btn btn-warning ms-2 px-4" type="button" data-bs-toggle="modal" data-bs-target="#faqModal">Add
            FAQ</button>
        </div>
      </div>
    </div>

    <div class="form-box-body">
      <div class="form-box-content">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button cus-accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3 ms-2"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3 ms-2"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body cus-accordion-body">
                <div class="accordion-body-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not
                  only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged.
                </div>
                <div class="accordion-footer pt-3">
                  <div class="accordion-body-actions">
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-play-circle me-2"></i>Watch
                      Tutorial</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-file-pdf me-2"></i>Open
                      Account</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-globe me-2"></i>Website</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3 ms-2"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3 ms-2"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body cus-accordion-body">
                <div class="accordion-body-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not
                  only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged.
                </div>
                <div class="accordion-footer pt-3">
                  <div class="accordion-body-actions">
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-play-circle me-2"></i>Watch
                      Tutorial</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-file-pdf me-2"></i>Open
                      Account</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-globe me-2"></i>Website</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3 ms-2"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3 ms-2"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body cus-accordion-body">
                <div class="accordion-body-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not
                  only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged.
                </div>
                <div class="accordion-footer pt-3">
                  <div class="accordion-body-actions">
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-play-circle me-2"></i>Watch
                      Tutorial</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-file-pdf me-2"></i>Open
                      Account</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-globe me-2"></i>Website</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3 ms-2"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3 ms-2"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body cus-accordion-body">
                <div class="accordion-body-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text
                  ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not
                  only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged.
                </div>
                <div class="accordion-footer pt-3">
                  <div class="accordion-body-actions">
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-play-circle me-2"></i>Watch
                      Tutorial</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-file-pdf me-2"></i>Open
                      Account</button>
                    <button class="btn btn-warning-shadow me-2 px-4"><i class="fas fa-globe me-2"></i>Website</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
