    <div class="container">
      <div class="cus-tab-container">
        <div class="form-box">
          <div class="form-box-header d-flex justify-content-between">
            <div class="form-box-title">Contact</div>
            <div class="form-box-action">
              <div class="d-flex">
                <button class="btn btn-warning ms-2 px-4" type="button" data-bs-toggle="modal"
                  data-bs-target="#contactModal">Add Contact</button>
              </div>
            </div>
          </div>

          <div class="form-box-body">
            <div class="form-box-content">
              <div class="corner-box-container">
                <div class="corner-box">
                  <div class="row h-100 align-items-center">
                    <div class="col-8">
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="text-center px-3">
                        <div class="text-secondary mb-3">If you have any queries, please
                          raise a SNC ticket</div>
                        <button class="btn btn-warning-shadow px-4">Open Ticket</button>
                      </div>
                    </div>
                  </div>
                  <div class="corner-box-cube">
                    <div class="region-box">
                      <div class="region-box-background"><img src="images/asia.svg" />
                      </div>
                      <div class="region-box-title">Asia</div>
                    </div>
                  </div>

                </div>

                <div class="corner-box">
                  <div class="row h-100 align-items-center">
                    <div class="col-8">
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="text-center px-3">
                        <div class="text-secondary mb-3">If you have any queries, please
                          raise a SNC ticket</div>
                        <button class="btn btn-warning-shadow px-4">Open Ticket</button>
                      </div>
                    </div>
                  </div>
                  <div class="corner-box-cube">
                    <div class="region-box">
                      <div class="region-box-background"><img src="images/europe.svg" />
                      </div>
                      <div class="region-box-title">Europe</div>
                    </div>
                  </div>

                </div>
                <div class="corner-box">
                  <div class="row h-100 align-items-center">
                    <div class="col-8">
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                        <div class="col">
                          <div class="cus-meta my-2">
                            <div class="cus-meta-title">Phone Number 1</div>
                            <div class="cus-meta-subtitle">81446940200</div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="text-center px-3">
                        <div class="text-secondary mb-3">If you have any queries, please
                          raise a SNC ticket</div>
                        <button class="btn btn-warning-shadow px-4">Open Ticket</button>
                      </div>
                    </div>
                  </div>
                  <div class="corner-box-cube">
                    <div class="region-box">
                      <div class="region-box-background"><img src="images/america.svg" />
                      </div>
                      <div class="region-box-title">America</div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
