    <div class="container">
      <div class="tab-content py-3">
        <div class="tab-pane container active" id="home">
          <div class="cus-tab-container">
            <div class="form-box">
              <div class="form-box-header d-flex justify-content-between">
                <div class="form-box-title">Application Details</div>
                <div class="form-box-action">
                  <div class="d-flex">
                    <button class="btn btn-secondary ms-2 px-4">Edit</button>
                    <button class="btn btn-warning ms-2 px-4">Save</button>
                  </div>
                </div>
              </div>

              <div class="form-box-body">
                <div class="form-box-content">
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-3 mt-3">
                        <label for="name" class="form-label cus-form-label">Application
                          Name</label>
                        <input type="email" class="form-control cus-form-control" id="name" placeholder="Enter app name"
                          name="name">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-3 mt-3">
                        <label for="owner" class="form-label cus-form-label">Solution
                          Owner</label>
                        <input type="owner" class="form-control cus-form-control" id="owner"
                          placeholder="Enter Solution Owner" name="owner">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-3 mt-3">
                        <label for="name" class="form-label cus-form-label">Application
                          Link</label>
                        <input type="email" class="form-control cus-form-control" id="name" placeholder="Enter app name"
                          name="name">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-3 mt-3">
                        <label for="owner" class="form-label cus-form-label">Solution
                          Owner</label>
                        <input type="owner" class="form-control cus-form-control" id="owner"
                          placeholder="Enter Solution Owner" name="owner">
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="owner" class="form-label cus-form-label">Services</label>
                    <div class="cus-img-checkbox">
                      <div class="cus-cb-element">
                        <input type="checkbox" name="platform" value="instagram" id="instagram">
                        <label for="instagram">
                          <div class="icon">
                            <img class="w-100" src="assets/images/faq.svg" />
                          </div>
                          <div class="title">
                            Read FAQ
                          </div>
                        </label>
                      </div>
                      <div class="cus-cb-element">
                        <input type="checkbox" name="platform" value="twitch" id="twitch">
                        <label for="twitch" class="outline-inward">
                          <div class="icon">
                            <img class="w-100" src="assets/images/faq_2.svg" />
                          </div>
                          <div class="title">
                            Contact
                          </div>
                        </label>
                      </div>
                      <div class="cus-cb-element">
                        <input type="checkbox" name="platform" value="slack" id="slack">
                        <label for="slack">
                          <div class="icon">
                            <img class="w-100" src="assets/images/faq_3.svg" />
                          </div>
                          <div class="title">
                            Communication
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

