<div class="container">
  <div class="form-box">
    <div class="form-box-header d-flex justify-content-between">
      <div class="form-box-title">Communication</div>
      <div class="form-box-action">
        <div class="d-flex">
          <button class="btn btn-warning ms-2 px-4" type="button" data-bs-toggle="modal"
            data-bs-target="#emailModal">Create Email</button>
        </div>
      </div>
    </div>

    <div class="form-box-body">
      <div class="form-box-content">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button cus-accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                <div>
                  <div><strong>Flex Space Communication</strong></div>
                  <div class="text-secondary">Published on 23 Feb 2023</div>
                </div>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3"><i class="fas fa-trash-alt me-2"></i>Delete</button>

              </div>
            </div>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body cus-accordion-body d-flex align-items-center justify-content-center">
                <div class="mailer-container">
                  <table id="emailContainer" border="0" cellpadding="0" cellspacing="0" width="800">
                    <tr>
                      <td align="center" valign="top">
                        <img src="templates/downtime_notification.jpg" width="100%" />
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top">
                        <table id="emailBody1" border="0" cellpadding="30" cellspacing="0" width="100%">
                          <tr>
                            <td>
                              <table border="0" cellpadding="0" cellspacing="10" width="100%">
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5">
                                    <b>From</b>: Adminitration Team
                                  </td>
                                </tr>
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5">
                                    <b>To</b>: All IT Users</td>
                                </tr>
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5">
                                    <b>Notification Type</b>:
                                    Downtime Notification</td>
                                </tr>
                              </table>
                              <table border="0" cellpadding="0" cellspacing="10" width="100%">
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua.
                                  </td>
                                </tr>

                              </table>
                              <table id="emailBody1" border="1" cellpadding="10" cellspacing="0" width="100%">
                                <tr>
                                  <th
                                    style="font-family: Century Gothic, sans-serif;line-height:1.5;background-color:#009add;font-size:12px">
                                    Location</th>
                                  <th
                                    style="font-family: Century Gothic, sans-serif;line-height:1.5;background-color:#009add;font-size:12px">
                                    Start Time & Date</th>
                                  <th
                                    style="font-family: Century Gothic, sans-serif;line-height:1.5;background-color:#009add;font-size:12px">
                                    End Time & Date</th>
                                </tr>
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    US</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 29th Saturday</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 30th Sunday</td>

                                </tr>
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    US</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 29th Saturday</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 30th Sunday</td>

                                </tr>
                                <tr>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    US</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 29th Saturday</td>
                                  <td style="font-family: Century Gothic, sans-serif;line-height:1.5;font-size:12px">
                                    Apr 30th Sunday</td>

                                </tr>
                              </table>

                            </td>
                          </tr>
                        </table>
                        <table id="emailLine" border="0" cellpadding="30" cellspacing="0" width="100%">
                          <tr>
                            <td>
                              <hr />

                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top">
                        <table id="emailFooter" cellspacing="0" cellpadding="30" width="100%" align="center" border="0"
                          bgcolor="#ffffff">
                          <tr>
                            <td>
                              <table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                                <tr>
                                  <td>
                                    <img src="flex_logo.png" width="80" height="auto" />
                                  </td>
                                  <td>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="2"
                                    style="font-family: Century Gothic, sans-serif; font-size: 11px; font-weight: normal; line-height: 1.5; color:#a5a5a5; padding-top:20px">
                                    ©2023 FLEX LTD. All rights
                                    reserved
                                    Flex (Reg. No. 199002645H) is
                                    the manufacturing partner of
                                    choice that helps a diverse
                                    customer base design and build
                                    products that improve the world.
                                    Through the collective strength
                                    of a global workforce across 30
                                    countries and responsible,
                                    sustainable operations, Flex
                                    delivers technology innovation,
                                    supply chain, and manufacturing
                                    solutions to various industries
                                    and end markets. For more
                                    information, visit flex.com. <a href="siteLink" target="_blank">Click
                                      here.</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>


              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <div>
                  <div><strong>Flex Space Communication</strong></div>
                  <div class="text-secondary">Published on 23 Feb 2023</div>
                </div>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body cus-accordion-body d-flex align-items-center justify-content-center">
                <div class="mailer-container">
                  <img class="w-100" src="assets/images/templete.jpg" />
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <div>
                  <div><strong>Flex Space Communication</strong></div>
                  <div class="text-secondary">Published on 23 Feb 2023</div>
                </div>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body cus-accordion-body d-flex align-items-center justify-content-center">
                <div class="mailer-container">
                  <img class="w-100" src="assets/images/templete.jpg" />
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item cus-accordion-item">
            <div class="accordion-header cus-accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button cus-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseFour">
                <div>
                  <div><strong>Flex Space Communication</strong></div>
                  <div class="text-secondary">Published on 23 Feb 2023</div>
                </div>
              </button>
              <div class="cus-accordion-header-action">
                <button class="btn btn-secondary btn-sm px-3"><i class="fas fa-pen-fancy me-2"></i>Edit</button>
                <button class="btn btn-danger btn-sm px-3"><i class="fas fa-trash-alt me-2"></i>Delete</button>
              </div>
            </div>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body cus-accordion-body d-flex align-items-center justify-content-center">
                <div class="mailer-container">
                  <img class="w-100" src="assets/images/templete.jpg" />
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>












  <!-- The Modal - Create Email-->
  <div class="modal p-5" id="emailModal">
    <div class="modal-dialog modal-lg cus-modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content cus-modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title cus-modal-title">Email Template</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body cus-modal-body">
          <div class="cus-modal-background py-3 px-5">
            <div class="row">
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">App Launch</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">App Features</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">App Downtime</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">App New Release</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">News Letter</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="box">
                  <div class="box-body">
                    <img class="w-100" src="assets/images/templete.jpg" />
                  </div>
                  <div class="box-footer">
                    <div class="box-footer-title">Feedback</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-warning px-4" data-bs-dismiss="modal">Create</button>
        </div>

      </div>
    </div>
  </div>
</div>
